# https://www.freedesktop.org/software/systemd/man/systemd.service.html
[Unit]
Description=i2s3 Amazon File Pusher
After=network.target

[Service]
ExecStart=/usr/local/script/i2s3.pl -f
ExecReload=/bin/kill -TERM $MAINPID
KillMode=process
Restart=always
Type=simple
# could easily be Type=forking, add PIDFile=..

[Install]
WantedBy=multi-user.target
